 <footer class="text-center">
    <div class="social-list ">
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f icon-footer" ></i></a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-instagram icon-footer"></i></a>
        <a href="https://www.skype.com"><i class="fa-brands fa-skype icon-footer"></i></a>
        <a href="https://pinterest.com/"><i class="fa-brands fa-pinterest icon-footer"></i></a>
        <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter icon-footer"></i></a>
    </div>
    <div class="brand">
        <p>Cửa hàng tạp hoá HvT</p>
    </div>
 </footer>

    
{{!-- </div>
<footer>
        <div class="row">
            <div class="col">

            </div>
            <div class="col-2">
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f icon-footer" ></i>
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter icon-footer"></i>
                </a>
            </div>
            <div class="col-2">
                <a href="https://pinterest.com/">
                    <i class="fa-brands fa-pinterest icon-footer"></i>
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.instagram.com">
                    <i class="fa-brands fa-instagram icon-footer"></i>
                </a>
            </div>
            <div class="col-2">
                <a href="https://www.skype.com">
                    <i class="fa-brands fa-skype icon-footer"></i>
                </a>
            </div>
            <div class="col"></div>
        </div>
        {{!-- <a href="#" class="gotop"><img src="images/top.png" width="50px" height="50px"></a>
</footer> --}}