<div class="container mt-4">
    <form action="" method="POST">
        <h1 class="form-tittle">Đăng nhập</h1>
        <div class="form-group">
            <label for="emailCustom" class="lable">Địa chỉ email</label>
            <input type="email" class="form-control" id="emailCustom" name="email" placeholder="Nhập email đã đăng kí">
            <p class="phoneError"></p>
        </div>
        <div class="form-group">
            <label for="passwdSignIn" class="lable">Mật khẩu</label>
            <input type="password" class="form-control" id="passwdSignIn" name="paswd" placeholder="Nhập mật khẩu">
            <p class="passwdError"></p>
        </div>
        <div class="form-check">
            <input type="checkbox" id="rememberMe" class="form-check-input">
            <label for="rememberMe" class="form-check-label">Ghi nhớ thông tin đăng nhập</label>
        </div>
        <button class="btn btn-success btn-block my-3">Đăng nhập</button>
        <div class="form-help">
            <p>Quên mật khẩu
                <a href="#" class="form-link-help">Trợ giúp</a>
            </p>
        </div>
        <a href="/me/signup">
            <button class="btn-logout">Đăng kí</button>
        </a>
    </form>
</div>