<div class="container mt-4">
    <form action="" method="POST">
        <h1 class="form-tittle">Đăng nhập</h1>
        <div class="form-group">
            <label for="phoneNumber" class="lable">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" name="phone" placeholder="Nhập số điện thoại của bạn">
            <p class="phoneError"></p>
        </div>
        <div class="form-group">
            <label for="passwdSignIn" class="lable">Mật khẩu</label>
            <input type="password" class="form-control" id="passwdSignIn" name="passwd" placeholder="Nhập mật khẩu">
            <p class="passwdError"></p>
        </div>
        <div class="form-check">
            <input type="checkbox" id="rememberMe" class="form-check-input">
            <label for="rememberMe" class="form-check-label">Ghi nhớ thông tin đăng nhập</label>
        </div>
        <button class="btn btn-success btn-block my-3">Đăng nhập</button>
        <div class="form-help">
            <p>Quên mật khẩu
                <a href="#" class="form-link-help">Trợ giúp</a>
            </p>
        </div>
        <button class="btn-logout"><a href="">Đăng kí</a></button>
    </form>
</div>